<div class="container">
    <h1 class="text-center p-3">Mi Biblioteca</h1>
    <h6 class="text-center text-info p-2"><%= notice %></h6>

    <div class="card-deck">
        <% @books.each do |book| %>
            <div class="card m-3" style="min-width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-white bg-info"><%= book.title %></li>
                    <li class="list-group-item">Autor:<br> <%= book.author %></li>

                    <% if book.borrowed_at %>
                        <li class="list-group-item">Fecha Préstamo:<br> <%= book.borrowed_at.strftime("%d-%m-%Y") %></li>
                    <% else %>
                        <li class="list-group-item">Fecha Préstamo:<br> Sin Fecha</li>
                    <% end %>

                    <% if book.returned_at %>
                        <li class="list-group-item">Fecha Devolución:<br> <%= book.returned_at.strftime("%d-%m-%Y") %></li>
                    <% else %>
                        <li class="list-group-item">Fecha Devolución:<br> Sin Fecha</li>
                    <% end %>
                </ul>
                <% if book.status == 1 %>
                    <div class="card-footer text-white bg-danger text-center">
                        <p>Prestado</p>
                    </div>
                <% else %>
                    <div class="card-footer text-white bg-success text-center">
                        <p>En Estante</p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>